<div class="container">
  <div class="clearfix bgcus p-1">
    <a class="float-left cusfont">Product List</a>
    <a class="float-right ml-2" (click)="getTabledata()"><i class="fa fa-refresh iconcreate"></i></a>
    <a class="float-right" (click)="openModel()">
      <i class="fa fa-plus-circle iconcreate"></i>
    </a>
  </div>
  <table class="table table-bordered">
    <thead>
      <th>ProductId</th>
      <th>Product Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let pro of Products">
        <td>{{pro.RecId}}</td>
        <td>{{pro.Name}}</td>
        <td>{{pro.Description}}</td>
        <td>{{pro.Price}}</td>
        <td>
          <a (click)="edit(pro.RecId)"><i class=" fa fa-edit editIcon mr-2"></i></a>
          <a (click)="delete(pro.RecId)"><i class=" fa fa-trash-o deleteIcon"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Modal -->
  <div class="backdrop" [ngStyle]="{'display':display}">
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <small *ngIf="isEdit">Edit Product</small>
              <small *ngIf="!isEdit">Create Product</small>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModel()"><span
                aria-hidden="true">&times;</span></button>
          </div>

          <!-- modal-body -->
          <div class="modal-body">
            <form [formGroup]="ProductForm" (submit)="submit(ProductForm.value)">
              <div class="form-group row">
                <label for="Name" class="col-sm-4 col-form-label">Product Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="Name" formControlName="Name">
                  <div class="text-danger">
                    <small *ngIf="ProductForm.get('Name').touched &&
                      ProductForm.get('Name').hasError('required')" class="error-message">required.</small>
                    <small *ngIf="ProductForm.get('Name').touched &&
                    ProductForm.get('Name').hasError('minlength')" class="error-message">Name
                      must be atleast more than 4 characters.</small>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="Description" formControlName="Description">
                  <div class="text-danger">
                    <small *ngIf="ProductForm.get('Description').touched &&
                      ProductForm.get('Description').hasError('required')" class="error-message">required.</small>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="Price" class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="Email" formControlName="Price">
                  <div class="text-danger">
                    <small *ngIf="ProductForm.get('Price').touched &&
                      ProductForm.get('Price').hasError('required')" class="error-message">required.</small>
                  </div>
                </div>
              </div>
              <button type="submit" [disabled]="ProductForm.invalid" class="btn btn-primary float-right">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>