<div class="loginpage">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="m-5">
        <div class="formdesign p-3">
          <h2 class="text-center">Sign-In</h2>
          <form [formGroup]="LoginForm" (submit)="onSubmit(LoginForm.value)">
            <div class="form-group">
              <label for="UserName">UserName <span style="color: red">*</span></label>
              <input type="text" class="form-control" id="UserName" formControlName="UserName"
                aria-describedby="UserName"/>
                <div class="text-danger">
                  <small *ngIf="LoginForm.get('UserName').touched &&
                  LoginForm.get('UserName').hasError('required')" class="error-message">required.</small>
                <small *ngIf="LoginForm.get('UserName').touched &&
                  LoginForm.get('UserName').hasError('minlength')" class="error-message">UserName
                  must be atleast more than 4 characters.</small>
                <small *ngIf="LoginForm.get('UserName').touched &&
                  LoginForm.get('UserName').hasError('pattern')" class="error-message">White
                  space and special characters not allowed.</small>
                </div>
            </div>
            <div class="form-group">
              <label for="Password">Password <span style="color: red">*</span></label>
              <input type="password" class="form-control" id="Password" formControlName="Password"/>
                <div class="text-danger">
                  <small *ngIf="LoginForm.get('Password').touched &&
                  LoginForm.get('Password').hasError('Password')" class="error-message">required.</small>
                <small *ngIf="LoginForm.get('Password').touched &&
                  LoginForm.get('Password').hasError('minlength')" class="error-message">Password
                  must be atleast more than 4 characters.</small>
                </div>
            </div>
            <button [disabled]="!LoginForm.valid" type="submit" class="btn btn-primary btn-block buttonRadius">
              Sign-In
            </button>
            <p class="text-center m-1">Not have an Account ?</p>
            <a routerLink="/Register" class="btn btn-warning btn-block buttonRadius">Sign-Up</a>
          </form>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>