.companyname{
    font-weight: bold;
    font-size: 30px;
    color:white;
    float: left;
    padding: 8px;
    text-decoration: none;
}
.signin{
    font-size: 20px;
    color: white;
    float:right;
    margin-top: 2px;
    padding: 8px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:navy;
  }
  
  li {
    float: left;
    margin-top: 8px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }