<div>
    <ul>
        <div class=" row">
            <div class="col-6 clearfix">
                <a class="companyname">Joy Online Shopping</a>
                <li *ngIf="userService.getlocalLoginStatus()" ><a class="active" href="/Customer">Customer</a></li>
                <li *ngIf="userService.getlocalLoginStatus()" ><a href="/Product">Product</a></li>
                <li *ngIf="userService.getlocalLoginStatus()" ><a href="/Address">Address</a></li>
                <li *ngIf="userService.getlocalLoginStatus()" ><a href="/Order">Order</a></li>
            </div>
            <div class="col-6 clearfix">
                <a routerLink="/Login" *ngIf="!userService.getlocalLoginStatus()" (click)="loginSts()" class="signin">Sign In</a>
                <a routerLink="/Login" (click)="logincheck()" *ngIf="userService.getlocalLoginStatus()"  class="signin">Sign Out</a>                        
                <a *ngIf="userService.getlocalLoginStatus()" class="signin">Welcome: {{userService.getlocalloginname()|uppercase}},</a>
            </div>
        </div>
      </ul>
</div>