<!-- Modal -->
 <div class="backdrop" [ngStyle]="{'display':display}">
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <small *ngIf="isEdit">Edit Address</small>
                <small *ngIf="!isEdit">Create Address</small>
          </h5>
          <button type="button" class="close" aria-label="Close" (click)="closeModel()"><span aria-hidden="true">&times;</span></button>
        </div>
  
        <!-- modal-body -->
        <div class="modal-body">
          <form [formGroup]="AddressForm" (submit)="submit(AddressForm.value)" >
            <div class="form-group row">
              <label for="CustomerId" class="col-sm-4 col-form-label">CustomerId</label>
              <div class="col-sm-8">
                  <select  class="form-control"*ngIf="!CusId" id="CustomerId" formControlName="CustomerId">
                    <option *ngFor="let cus of Customers" value="{{cus.RecId}}">{{cus.Name}}</option>
                  </select>
                  <select [disabled]="CusId" class="form-control"*ngIf="CusId" id="CustomerId" formControlName="CustomerId">
                    <option  value="{{Customer?.RecId}}">{{Customer?.Name}}</option>
                  </select>
                  <div class="text-danger">
                    <small *ngIf="AddressForm.get('CustomerId').touched &&
                    AddressForm.get('CustomerId').hasError('required')" class="error-message">required.</small>
                  </div>
                </div>
            </div>
            <div class="form-group row">
              <label for="Street" class="col-sm-4 col-form-label">Street</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="Street"  formControlName="Street" >
                <div class="text-danger">
                  <small *ngIf="AddressForm.get('Street').touched &&
                  AddressForm.get('Street').hasError('required')" class="error-message">required.</small>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="City" class="col-sm-4 col-form-label">City</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="City"  formControlName="City" >
                <div class="text-danger">
                  <small *ngIf="AddressForm.get('City').touched &&
                  AddressForm.get('City').hasError('required')" class="error-message">required.</small>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="Country" class="col-sm-4 col-form-label">Country</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="Country"  formControlName="Country" >
                <div class="text-danger">
                  <small *ngIf="AddressForm.get('Country').touched &&
                  AddressForm.get('Country').hasError('required')" class="error-message">required.</small>
                </div>
              </div>
            </div>
            <button type="submit" data-dismiss="modal"   [disabled]="AddressForm.invalid" class="btn btn-primary float-right">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>