<div class="registerpage">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
      <div class="m-5">
        <div class="formdesign p-3">
          <h2 class="text-center">Sign-Up</h2>
          <form [formGroup]="RegisterForm" (submit)="onSubmit(RegisterForm.value)">
              <div class="form-group">
                <label for="UserName">UserName <span style="color: red">*</span></label>
                <input type="text" class="form-control" id="UserName" formControlName="UserName" aria-describedby="UserName">
                <div class="text-danger">
                  <small *ngIf="RegisterForm.get('UserName').touched &&
                  RegisterForm.get('UserName').hasError('required')" class="error-message">required.</small>
                <small *ngIf="RegisterForm.get('UserName').touched &&
                RegisterForm.get('UserName').hasError('minlength')" class="error-message">UserName
                  must be atleast more than 4 characters.</small>
                <small *ngIf="RegisterForm.get('UserName').touched &&
                RegisterForm.get('UserName').hasError('pattern')" class="error-message">White
                  space and special characters not allowed.</small>
                </div>
              </div>
              <div class="form-group">
                <label for="Password">Password <span style="color: red">*</span></label>
                <input type="password" class="form-control" id="Password" formControlName="Password">
                <div class="text-danger">
                  <small *ngIf="RegisterForm.get('Password').touched &&
                  RegisterForm.get('Password').hasError('Password')" class="error-message">required.</small>
                <small *ngIf="RegisterForm.get('Password').touched &&
                RegisterForm.get('Password').hasError('minlength')" class="error-message">Password
                  must be atleast more than 4 characters.</small>
                </div>
              </div>
              <button type="submit" [disabled]="!RegisterForm.valid" class="btn btn-primary btn-block buttonRadius">Sign-Up</button>
              <p class="text-center m-1">Already you have an Account ?</p>
              <a routerLink="/Login" class="btn btn-warning btn-block buttonRadius">Sign-In</a>
      </form>
        </div>
        </div>
        
    </div>
    <div class="col-4">
    </div>
    </div>
  </div>
  
  