<div class="container">
  <div class="clearfix bgcus p-1">
    <a class="float-left cusfont">Order List</a>
    <a class="float-right ml-2" (click)="getTabledata()"><i class="fa fa-refresh iconcreate"></i></a>
    <a class="float-right"(click)="openModel()">
      <i class="fa fa-plus-circle iconcreate"></i>
    </a>
  </div>
        <table class="table table-bordered">
          <thead>
              <th>OrderId</th>
              <th>Description</th>
              <th>CustomerId</th>
              <th>AddressId</th>
              <th>PaymentType</th>
              <th>OrderDate</th>
              <th>TotalAmount</th>
              <th>Actions</th>
          </thead>
          <tbody>
            <tr *ngFor="let order of Orders,">
              <td class="text-info"><a (click)="goDetails(order.RecId)">{{order.RecId}}</a></td>
              <td>{{order.Description}}</td>
              <td>{{order.CustomerId}}</td>
              <td>{{order.AddressId}}</td>
              <td>{{order.PaymentType}}</td>
              <td>{{order.OrderDate|date:'short'}}</td>
              <td>{{order.TotalAmount}}</td>
              <td>
              <a (click)="edit(order.RecId)"><i class=" fa fa-edit editIcon mr-2" ></i></a>
               <a (click)="delete(order.RecId)"><i class=" fa fa-trash-o deleteIcon" ></i></a></td>
            </tr>
          </tbody>
        </table>

        <!-- Modal -->
    <div class="backdrop" [ngStyle]="{'display':display}">
      <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <small *ngIf="isEdit">Edit Order</small>
                <small *ngIf="!isEdit">Create Order</small>
              </h5>
              <button type="button" class="close" aria-label="Close" (click)="closeModel()"><span aria-hidden="true">&times;</span></button>
            </div>
      
            <!-- modal-body -->
            <div class="modal-body">
              <form [formGroup]="OrderForm" (submit)="submit(OrderForm.value)" >
                <div class="form-group row">
                  <label for="Description" class="col-sm-4 col-form-label">Description</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" formControlName="Description">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="CustomerId" class="col-sm-4 col-form-label">CustomerId</label>
                  <div class="col-sm-8">
                      <select class="form-control" id="CustomerId" formControlName="CustomerId" (change)="getAddressBasedOnCustomer()">
                        <option *ngFor="let cus of Customers"  value="{{cus.RecId}}">{{cus.Name}}</option>
                      </select>
                      <div class="text-danger">
                        <small *ngIf="OrderForm.get('CustomerId').touched &&
                        OrderForm.get('CustomerId').hasError('required')" class="error-message">required.</small>
                      </div>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="AddressId" class="col-sm-4 col-form-label">AddressId</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="AddressId"  formControlName="AddressId">
                      <option *ngFor="let Add of Address" value="{{Add.RecId}}">{{Add.Street}},{{Add.City}},{{Add.Country}}</option>
                    </select>
                    <div class="text-danger">
                      <small *ngIf="OrderForm.get('AddressId').touched &&
                      OrderForm.get('AddressId').hasError('required')" class="error-message">required.</small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="PaymentType" class="col-sm-4 col-form-label">PaymentType</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="PaymentType" formControlName="PaymentType">
                      <option value="1">cash</option>
                      <option value="2">card</option>
                    </select>
                    <div class="text-danger">
                      <small *ngIf="OrderForm.get('PaymentType').touched &&
                      OrderForm.get('PaymentType').hasError('required')" class="error-message">required.</small>
                    </div>
                  </div>
                </div>
                <button  type="submit"[disabled]="OrderForm.invalid" class="btn btn-primary float-right">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  