<div class="overflow-hidden mainpage">
      <app-header></app-header>
  <div class="middlepage  overflow-auto"> 
      <ngx-loading-x [show]="service.loadingstatus()"></ngx-loading-x>
          <router-outlet></router-outlet>
  </div>
      <app-footer></app-footer> 
</div>
