.mainpage{
    height: 100vh;
}
.middlepage{
    height: calc(100% - 101px);
}




.ng-valid[required], .ng-valid.required  {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-left: 10px solid rgb(218, 200, 43); /* yellow */
}

.ng-invalid:not(form)  {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-left: 10px solid #e94646; /* red */
}

.backdrop {
    background-color:rgba(0,0,0,0.6);
    top:0;
    left:0;
    width:100%;
    height:100vh;
}
.modal{
    overflow: auto;
}