<div class="container">
  <div class="clearfix bgcus p-1">
    <a class="float-left cusfont">Customer List</a>
    <a class="float-right ml-2" (click)="getTabledata()"><i class="fa fa-refresh iconcreate"></i></a>
    <a class="float-right" (click)="openModel()">
      <i class="fa fa-plus-circle iconcreate"></i>
    </a>
  </div>
      <table class="table table-bordered">
        <thead>
            <th>CustomerId</th>
            <th>Customer Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let cus of Customers">
            <td>{{cus.RecId}}</td>
            <td class="text-info"><a (click)="goDetails(cus.RecId)">{{cus.Name}}</a></td>
            <td>{{cus.Phone}}</td>
            <td>{{cus.Email}}</td>
            <td>
            <a (click)="edit(cus.RecId)"><i class=" fa fa-edit editIcon mr-2" ></i></a>
             <a (click)="delete(cus.RecId)"><i class=" fa fa-trash-o deleteIcon" ></i></a></td>
          </tr>
        </tbody>
      </table>

  <!-- Modal -->
    <div class="backdrop" [ngStyle]="{'display':display}">
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <small *ngIf="isEdit">Edit Customer</small>
              <small *ngIf="!isEdit">Create Customer</small>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="closeModel()"><span aria-hidden="true">&times;</span></button>
          </div>
    
          <!-- modal-body -->
          <div class="modal-body">
            <form [formGroup]="CustomerForm" (submit)="submit(CustomerForm.value)" >
              <div class="form-group row">
                <label for="Name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="Name" formControlName="Name">
                  <div class="text-danger">
                    <small *ngIf="CustomerForm.get('Name').touched &&
                    CustomerForm.get('Name').hasError('required')" class="error-message">required.</small>
                  <small *ngIf="CustomerForm.get('Name').touched &&
                  CustomerForm.get('Name').hasError('minlength')" class="error-message">Name
                    must be atleast more than 4 characters.</small>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="Phone" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="Phone" maxlength="10" formControlName="Phone">
                  <div class="text-danger">
                    <small *ngIf="CustomerForm.get('Phone').touched &&
                    CustomerForm.get('Phone').hasError('required')" class="error-message">required.</small>
                    <small *ngIf="CustomerForm.get('Phone').touched &&
                    CustomerForm.get('Phone').hasError('pattern')" class="error-message">phone number should be maximum 10 numbers.</small>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="Email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="Email" formControlName="Email">
                  <div class="text-danger">
                    <small *ngIf="CustomerForm.get('Email').touched &&
                    CustomerForm.get('Email').hasError('required')" class="error-message">required.</small>
                  <small *ngIf="CustomerForm.get('Email').touched &&
                  CustomerForm.get('Email').hasError('email')" class="error-message">Please Enter a Valid Email Address</small>
                  </div>
                </div>
              </div>
              <button  type="submit"[disabled]="CustomerForm.invalid" class="btn btn-primary float-right">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
