  <div class="container">
    <div class="clearfix bgcus p-1">
      <a class="float-left cusfont">Customer Details</a>
      <a routerLink="/Customer" class="float-right ml-2"><i class="fa fa-arrow-left icontext"></i></a>
      <a class="float-right ml-2" (click)="getCustomerDetail()"><i class="fa fa-refresh iconcreate"></i></a>
      <a class="float-right"(click)="openModel()">
        <i class="fa fa-plus-circle iconcreate"></i>
      </a>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="justify-content-center">
          <div class="card">
            <div class="card-header font-weight-bold">
              My Details:
            </div>
            <ul class="list-group">
              <li class="list-group-item"><strong>Customer Id: </strong>{{Customer?.RecId}},</li>
              <li class="list-group-item"><strong>Name: </strong>{{Customer?.Name}},</li>
              <li class="list-group-item"><strong>Phone Number: </strong>{{Customer?.Phone}},</li>
              <li class="list-group-item"><strong>Email Id: </strong>{{Customer?.Email}},</li>
            </ul>
          </div>
      </div>
  </div>
    <div class="col-6">
    <div class="card" *ngFor="let add of Address, let i= index">
        <div class="card-header font-weight-bold">
          Address No:{{i+1}},            
          <a (click)="edit(add.RecId)"><i class=" fa fa-edit editIcon mr-2" ></i></a>
          <a (click)="delete(add.RecId)"><i class=" fa fa-trash-o deleteIcon" ></i></a>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><strong>Street: </strong>{{add.Street}},</li>
          <li class="list-group-item"><strong>City: </strong>{{add.City}},</li>
          <li class="list-group-item"><strong>Country: </strong>{{add.Country}},</li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  <app-address-form *ngIf="openAddressForm"[CusId]="Customer.RecId"[display]="display" [AddressIdFromCusDetail]="AddressId" (closeAddressform)="closeModel()"></app-address-form>