<button (click)="delete()">delete</button>
<div class="container">
  <div class="clearfix bgcus p-1">
    <a class="float-left cusfont">Address List</a>
    <a class="float-right ml-2" (click)="getTabledata()"><i class="fa fa-refresh iconcreate"></i></a>
    <a class="float-right"(click)="openModel()">
      <i class="fa fa-plus-circle iconcreate"></i>
    </a>
  </div>

      <table class="table table-bordered">
        <thead>
            <th>AddressId</th>
            <th>CustomerId</th>
            <th>Street</th>
            <th>Country</th>
            <th>City</th>
            <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let Add of Address">
            <td>{{Add.RecId}}</td>
            <td>{{Add.CustomerId}}</td>
            <td>{{Add.Street}}</td>
            <td>{{Add.Country}}</td>
            <td>{{Add.City}}</td>
            <td>
            <a (click)="edit(Add.RecId)"><i class=" fa fa-edit editIcon mr-2" ></i></a>
             <a (click)="delete(Add.RecId)"><i class=" fa fa-trash-o deleteIcon" ></i></a></td>
          </tr>
        </tbody>
      </table>
</div>
<!-- [deleteId]="deleteId" -->
<app-address-form *ngIf="OpenAddressform" [display]="display" [Addressid]="SelectedAddressId" (closeAddressform)="closeModel()" ></app-address-form>