.buttonRadius {
  border-radius: 1rem;
}
.formdesign {
  border: 1px solid blue;
  border-radius: 2rem;
}
.icontext{
  font-size:25px;
}
.bgcus:hover{
  background-color: rgb(240, 225, 199);
  border: 2px solid rgb(147, 196, 212);
}
.bgcus{
  background-color: rgb(245, 237, 224);
  border: 2px solid lightblue;
}
.iconcreate{
  font-size: 25px;
}
.cusfont{
  font-size: 20px;
  font-weight: bold;
}

.backdrop {
  background-color:rgba(0,0,0,0.6);
  top:0;
  left:0;
  position:fixed;
  width:100%;
  height:100vh;
}
.modal{
  overflow: auto;
}