      <div class="container">
        <div class="clearfix bgord p-1">
          <a class="float-left cusfont">Order Item</a>
          <a routerLink="/Order" class="float-right ml-2"><i class="fa fa-arrow-left icontext"></i></a>
          <a class="float-right ml-2" (click)="getOrderDetailsByRecId()"><i class="fa fa-refresh iconcreate"></i></a>
          <a class="float-right"(click)="openModel()">
            <i class="fa fa-plus-circle iconcreate"></i>
            </a>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="card-header font-weight-bold">
                Order Details:
              </div>
              <ul class="list-group">
                <li class="list-group-item"><strong>Order Id: </strong>{{Orders?.RecId}},</li>
                <li class="list-group-item"><strong>Description: </strong>{{Orders?.Description}},</li>
                <li class="list-group-item"><strong>CustomerId: </strong>{{Orders?.CustomerId}},</li>
                <li class="list-group-item"><strong>AddressId: </strong>{{Orders?.AddressId}},</li>
                <li class="list-group-item"><strong>PaymentType: </strong>{{Orders?.PaymentType}},</li>
                <li class="list-group-item"><strong>OrderDate: </strong>{{Orders?.OrderDate|date:'short'}},</li>
                <li class="list-group-item"><strong>TotalAmount: </strong>{{Orders?.TotalAmount}},</li>
              </ul>
            </div>
          </div>
          <div class="col-8">
            <div class="orderitem"><h4>Ordered Items:</h4></div>
            <table class="table table-bordered">
              <thead>
                  <th>OrderItemId</th>
                  <th>ProductId</th>
                  <th>Product Name</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                  <th>Actions</th>
              </thead>
              <tbody>
                <tr *ngFor="let orderitem of OrderItems">
                  <td >{{orderitem.RecId}}</td>
                  <td>{{orderitem.ProductId}}</td>
                  <td>{{orderitem.Name}}</td>
                  <td>{{orderitem.Quantity}}</td>
                  <td>{{orderitem.Amount}}</td>
                  <td>
                  <a (click)="edit(orderitem.RecId)"><i class=" fa fa-edit editIcon mr-2" ></i></a>
                   <a (click)="delete(orderitem.RecId)"><i class=" fa fa-trash-o deleteIcon" ></i></a></td>
                </tr>
              </tbody>
            </table>
        </div>
          </div>

          <!-- Modal -->
    <div class="backdrop" [ngStyle]="{'display':display}">
      <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <small *ngIf="isEdit">Edit Order</small>
                <small *ngIf="!isEdit">Create Order</small>
              </h5>
              <button type="button" class="close" aria-label="Close" (click)="closeModel()">
                <span aria-hidden="true">&times;</span></button>
            </div>
      
            <!-- modal-body -->
            <div class="modal-body">
              <form [formGroup]="OrderItemForm" (submit)="submit(OrderItemForm.value)" >
                <div class="form-group row">
                  <label for="OrderId" class="col-sm-4 col-form-label">OrderId</label>
                  <div class="col-sm-8">
                      <select readonly class="form-control" id="OrderId" formControlName="OrderId">
                        <option>{{OrderId}}</option>
                      </select>
                      <div class="text-danger">
                        <small *ngIf="OrderItemForm.get('OrderId').touched &&
                        OrderItemForm.get('OrderId').hasError('required')" class="error-message">required.</small>
                      </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ProductId" class="col-sm-4 col-form-label">ProductId</label>
                  <div class="col-sm-8">
                    <select  (change)="ProductPriceByRecId()" class="form-control" id="ProductId"  formControlName="ProductId">
                      <option *ngFor="let pro of Product" value="{{pro.RecId}}">{{pro.Name}}</option>
                    </select>
                    <div class="text-danger">
                      <small *ngIf="OrderItemForm.get('ProductId').touched &&
                      OrderItemForm.get('ProductId').hasError('required')" class="error-message">required.</small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Quantity" class="col-sm-4 col-form-label">Quantity</label>
                  <div class="col-sm-8">
                    <input type="number"(change)="ProductPriceByRecId()" class="form-control" id="Quantity" formControlName="Quantity"
                    aria-describedby="Quantity" />
                    <div class="text-danger">
                      <small *ngIf="OrderItemForm.get('Quantity').touched &&
                      OrderItemForm.get('Quantity').hasError('required')" class="error-message">required.</small>
                    </div>  
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Amount" class="col-sm-4 col-form-label">Amount</label>
                  <div class="col-sm-8">
                    <input type="number" readonly class="form-control" id="Amount" formControlName="Amount"
                    aria-describedby="Amount" />
                    <div class="text-danger">
                      <small *ngIf="OrderItemForm.get('Amount').touched &&
                      OrderItemForm.get('Amount').hasError('Amount')" class="error-message">required.</small>
                    </div>  
                  </div>
                </div>
                <button type="submit"[disabled]="OrderItemForm.invalid" class="btn btn-primary float-right">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>

