.deleteIcon{
    color: red;
    font-size: large;
}
.editIcon{
    color:green;
    font-size: large;
}
.bgord:hover{
    background-color: rgb(240, 225, 199);
    border: 2px solid rgb(147, 196, 212);
}
.bgord{
    background-color: rgb(245, 237, 224);
    border: 2px solid lightblue;
}
.iconcreate{
    font-size: 25px;
}
.cusfont{
    font-size: 20px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.icontext{
    font-size:25px;
}
.orderitem{
    text-align: center;
}